AWS_REGION=us-east-1
BEDROCK_ENABLED=true
NOVA_LITE_MODEL_ID=us.amazon.nova-2-lite-v1:0
NOVA_SONIC_ENABLED=false
NOVA_SONIC_MODEL_ID=us.amazon.nova-2-sonic-v1:0
DEFAULT_PLANOGRAM_PRODUCT=Brand X Cereal
